name: "Build, Push and Deploy a container image to Kubernetes"
# Requires `csproj` file contains `<EnableSdkContainerSupport>true</EnableSdkContainerSupport>` tag and a deployment folder to be present in the repository.

on:
  workflow_call:
    secrets:
      TRAKX_GITHUB_TOKEN:
        description: "Access token provided by the calling action context, used to publish the packages and push the corresponding tag."
        required: false
      TRAKX_BOT_READONLY_PAT:
        description: "Personal access token used to access the github private nuget source."
        required: true
    inputs:
      projectFolder:
        description: "Folder containing the project to build."
        required: true
        type: string
      serviceName:
        description: "Name of service being deployed."
        required: true
        type: string
      imageName:
        description: "Name of the docker image to build. If not provided, will be the same as 'serviceName'."
        required: false
        type: string
      runnerName:
        description: "Name of the runner to use. If not provided, will be generated based on the branch name."
        required: false
        type: string
        default: ''
      containerPublishType:
        description: "Type of container publish (api | worker). Default is api."
        required: false
        type: string
        default: 'api'
      dotnetVersion:
        description: "Version of dotnet to use. Default is v7.x."
        required: false
        type: string
        default: "7.x"
      dockerRegistry:
        description: "Docker registry to push the image to. Default is docker.pkg.github.com."
        required: false
        type: string
        default: "docker.pkg.github.com"
      actionsRepoRef:
        description: "Run actions from this ref. Default is master."
        type: string
        required: false
        default: "master"

env:
  IMAGE_NAME: ${{ inputs.imageName || inputs.serviceName }}
  GITHUB_TOKEN: ${{ secrets.TRAKX_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

jobs:
  prepare-and-validate:
    name: "Load and protect environment before jobs"
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.load-environment.outputs.environment }}
      runnerName: ${{ steps.load-environment.outputs.runnerName }}
      tagPrefix: ${{ steps.load-environment.outputs.tagPrefix }}
    steps:
      - name: Checkout calling repo
        uses: actions/checkout@v3

      - name: Checkout trakx/github-actions repo
        uses: actions/checkout@v3
        with:
          repository: trakx/github-actions
          path: ./github-actions-shared-build-deploy-container
          ref: ${{ inputs.actionsRepoRef }}

      - name: Load environment and runner
        id: load-environment
        uses: ./github-actions-shared-build-deploy-container/load-environment

      - name: Outputs if this is a workflow_dispatch for staging and production (manual deploy)
        shell: bash
        id: check-manual-deploy
        run: |
          IS_MANUAL_DEPLOY_RESTRICTED="Y"
          if [[ "${{ steps.load-environment.outputs.environment }}" == "production" || "${{ steps.load-environment.outputs.environment }}" == "staging" ]]; then
            if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
              echo "Event workflow_dispatch detected for environment ${{ steps.load-environment.outputs.environment }}."
              IS_MANUAL_DEPLOY_RESTRICTED="Y"
            fi
          fi
          echo "isManualDeployRestricted=$IS_MANUAL_DEPLOY_RESTRICTED" >> $GITHUB_OUTPUT

      - name: Waiting for Approval when deploying to stage or production
        uses: ./github-actions-shared-build-deploy-container/manual-approval
        if: ${{ steps.check-manual-deploy.outputs.isManualDeployRestricted == 'Y' }}
        with:
          approvers: "joaofbvieira,monsieurleberre" #deploy-approvers >> need to create this group
          minimumApprovals: 1
          issueTitle: "Manual deploy to ${{ steps.load-environment.outputs.environment }}"
          issuerCanApprove: true
          userReaderAppId: ${{ secrets.TRAKX_USER_READER_APP_ID }}
          userReaderAppPrivateKey: ${{ secrets.TRAKX_USER_READER_APP_PRIVATE_KEY }}

  echo-something:
    name: "Echo something"
    needs: [ prepare-and-validate ]
    runs-on: ${{ needs.prepare-and-validate.outputs.runnerName }}
    steps:
      - name: Echo something
        run: |
          echo "Hello world"

  # build-push-container-image:
  #   name: "Build and push container image"
  #   needs: [ prepare-and-validate ]
  #   runs-on: ${{ needs.prepare-and-validate.outputs.runnerName }}
  #   steps:
  #     - name: Checkout calling repo
  #       uses: actions/checkout@v3

  #     - name: Checkout trakx/github-actions repo
  #       uses: actions/checkout@v3
  #       with:
  #         repository: trakx/github-actions
  #         path: ./github-actions-shared-build-deploy-container
  #         ref: ${{ inputs.actionsRepoRef }}

  #     - name: Get last commit of calling repo
  #       id: last-commit-sha
  #       uses: ./github-actions-shared-build-deploy-container/get-last-commit

  #     - name: Build and push container image
  #       id: build-push-container-image-step
  #       uses: ./github-actions-shared-build-deploy-container/build-push-container-image
  #       with:
  #         githubToken: ${{ env.GITHUB_TOKEN }}
  #         packageReadonlyPat: ${{ secrets.TRAKX_BOT_READONLY_PAT }}
  #         projectFolder: ${{ inputs.projectFolder }}
  #         imageName: ${{ env.IMAGE_NAME }}
  #         imageTagPrefix: ${{ needs.prepare-and-validate.outputs.tagPrefix }}
  #         containerPublishType: ${{ inputs.containerPublishType }}
  #         dotnetVersion: ${{ inputs.dotnetVersion }}
  #         dockerRegistry: ${{ inputs.dockerRegistry }}
  #         imageTagSuffix: ${{ steps.last-commit-sha.outputs.lastCommitSha }}
  #         actionsRepoRef: ${{ inputs.actionsRepoRef }}
  #         doCheckout: false
  #   outputs:
  #     tag: ${{ steps.build-push-container-image-step.outputs.tag }}

  # deploy-kubernetes:
  #   name: "Deploy image to Kubernetes"
  #   needs: [ prepare-and-validate, build-push-container-image ]
  #   runs-on: ${{ needs.prepare-and-validate.outputs.runnerName }}
  #   if: |
  #     always() &&
  #       (needs.build-push-container-image.result == 'success' || (needs.build-push-container-image.result == 'skipped'
  #           && github.event_name == 'workflow_run'
  #           && github.event.workflow_run.conclusion == 'success' ))
  #   steps:
  #     - name: Checkout calling repo
  #       uses: actions/checkout@v3

  #     - name: Checkout trakx/github-actions repo
  #       uses: actions/checkout@v3
  #       with:
  #         repository: trakx/github-actions
  #         path: ./github-actions-shared-build-deploy-container
  #         ref: ${{ inputs.actionsRepoRef }}

  #     - name: Deploy container image to Kubernetes
  #       id: deploy-container-k8s
  #       uses: ./github-actions-shared-build-deploy-container/deploy
  #       with:
  #         githubToken: ${{ env.GITHUB_TOKEN }}
  #         tag: ${{ needs.build-push-container-image.outputs.tag }}
  #         service: ${{ inputs.serviceName }}
  #         artifact-name: ${{ env.IMAGE_NAME }}
  #         serviceRegistry: ${{ inputs.dockerRegistry }}
  #         type: "kubernetes"
  #         actionsRepoRef: ${{ inputs.actionsRepoRef }}
